<div class='main-container'>
  <div class="info">
    <h1>Adyen DropIn Integration Test Application</h1>
    <h3>Prerequisite:</h3>
    <p>This Application's Adyen configuration matches with the Adyen Adapter configuration used to create the below session Data </p>
    <h3>Usage:</h3>
    <ul>
      <li>Do the invoke API</li>
      <li>Base64 the response</li>
      <li>Copy the base64 encoded value into the below text box</li>
      <li>Select Purchase</li>
    </ul>
  </div>
  <div class="kalturauserinfo">
    <h3>Invoke Response</h3>
    <p>
    <label for="invokeres">invoke res in base64:</label>
    <textarea id="invokeres" name="invokeres" rows="30" cols="100"></textarea>
    <label for="ks">userks:</label>
    <textarea id="ks" name="ks" rows="5" cols="100"></textarea>
    </p>
  </div>
  <ul class="integration-list">
    <li class="integration-list-item">
    <a href="javascript:;" onclick = "this.href='/checkout?type=dropin&intent=firstpurchase&invokeres=' + document.getElementById('invokeres').value + '&ks=' + document.getElementById('ks').value" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Checkout-DropIn</p>
        </div>
      </a>
    </li>
  </ul>
</div>
